{% extends "layout_main.html" %}
{% load staticfiles %}

{% block content-head %}

<div class="jumbotron">
    <div class="container">
        <h1>Change password</h1>
        <p>Using <a href="https://docs.djangoproject.com/en/dev/topics/auth/" target="_blank">Django's authentication framework</a> making things easy!</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h2>Change Password</h2>
            <form action="." method="POST">
              {% csrf_token %}
              <table>
                {{ form.as_table }}
              </table>
              <input type="submit" class="btn btn-info" value="Change" />

        {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

{% endblock %}
