{% extends "layout_main.html" %}
{% load staticfiles %}

{% block content-head %}

<div class="jumbotron">
    <div class="container">
        <h1>Account Settings</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Your Account</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}            
            <form action="." method="POST">
              {% csrf_token %}
              <table>
                {{ userChangeForm.as_table }}
              </table>
              <input type="submit" class="btn btn-info" value="Submit" /> <a href="/password_change" class="btn btn-danger">Change password</a>
        {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
            </form>
        </div>
        <div class="col-md-6">
            <!-- <h2>Delete account</h2> -->
        </div>
    </div>
</div>

{% endblock %}
